.overlay-grid {
  position: absolute;
  top: 0px;
  display: grid;
  grid-template-rows: repeat(48, calc(20px * var(--scaling-factor)));
  grid-template-columns: repeat(5, calc(80px * var(--scaling-factor)));
  pointer-events: none;
}

.corner-banner {
  position: fixed;
  top: calc(7px * var(--scaling-factor));
  right: calc(-186px * var(--scaling-factor));
  z-index: 9999;
  width: calc(400px * var(--scaling-factor));
  height: calc(16px * var(--scaling-factor));
  overflow: visible;
  background-color: var(--accent-color);
  transform: rotate(45deg);
  transform-origin: center;
}

.corner-banner::before {
  position: absolute;
  display: block;
  width: 100%;
  font-size: calc(13px * var(--scaling-factor));
  line-height: calc(16px * var(--scaling-factor));
  text-align: center;
  content: "Beta";
}