input {
  padding: 0;
}

:root {
  /* colors */
  --black: #2a2a2a;
  --white: rgb(255 255 255);
  --slate: #bdbdbd;
  --slate-light: #e6e6e6;
  --slate-dark: #3c3c3c;
  --light-green: #99ff73;
  --green: #979441;
  --light-blue: #ccccff;
  --blue: #594dff;
  --pink: #f5aad1;
  --red: #ff5f5f;
  --orange: #fec20d;
  --yellow: #ffff00;

  /* accent color - defaults to blue but can be changed by user */
  --accent-color: var(--light-green);

  /* ezo-type */
  --typeface: "GT-America-Standard-Regular";
  --typeface-japanese: "Noto Sans JP";
  --typeface-mono: "Iosevka";
  --type-size-default: calc(13px * var(--scaling-factor));
  --type-size-small: calc(10px * var(--scaling-factor));
  --type-weight-default: 500;
  --type-lineheight-default: calc(15px * var(--scaling-factor));
  --type-size-heading: calc(15px * var(--scaling-factor));
  --type-weight-bold: 600;
  --type-size-japanese-default: calc(12px * var(--scaling-factor));
  --type-size-japanese-heading: calc(14px * var(--scaling-factor));
  --type-lineheight-japanese-default: calc(17px * var(--scaling-factor));
  --type-weight-product: var(--type-weight-bold);
  --type-weight-heading: var(--type-weight-bold);
  --type-size-book: 9px;
  --type-weight-book: 400;
  --type-lineheight-book: 15px;

  /* ezo-scaling-factor */
  --scaling-factor: round(var(--scaling-factor-mobile), 1);
  --scaling-factor-mobile: 1;

  /* size */
  --outline-stroke: 1px solid light-dark(var(--black), var(--slate-dark));
  --outline-stroke-mobile: calc(1px * var(--scaling-factor)) solid
    light-dark(var(--black), var(--slate-dark));
  --item-width: calc(79px * var(--scaling-factor));
  --item-height: calc(19px * var(--scaling-factor));
  --margin-correction: calc(1px * var(--scaling-factor));

  /* sizes */

  /* main unit */
  --1: 20px;
  /* bigger sizes */
  --2: calc(var(--1) * 2);
  --4: calc(var(--1) * 4);

  /* smaller sizes */
  --01: calc(var(--1) * 0.1);
  --025: calc(var(--1) * 0.25);
  --08: calc(var(--1) * 0.8);

  /* ezo-button */
  --button-background-color-primary: var(--accent-color);
  --button-background-color-secondary: var(--slate-light);

  /* ezo-text-color */
  --text-color-primary: var(--black), var(--white);
  --text-color-dimmed: var(--slate-light);

  /* ezo-icon */
  --icon-background: var(--slate-light);
  --icon-color: var(--black);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

@view-transition {
  navigation: auto;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

@font-face {
  font-family: GT-America-Standard-Regular;
  src: url("./fonts/GT-America-Standard-Regular.woff2")
    format("woff2");
  font-display: swap;
}

body {
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 280px;
  padding: 0 20px;
  font-family: var(--typeface), sans-serif;
  font-size: var(--type-size-default);
  color: var(--black), var(--white);
  letter-spacing: -0.2px;
  background-color: var(--white), var(--black);
  transition: background-color 1s ease;
  text-decoration-line: none;
}

body.mobile {
  margin-top: 0;
  padding-left: calc(20px * var(--scaling-factor));
  padding-right: calc(20px * var(--scaling-factor));
  align-items: center;
  justify-content: center;
  width: calc(280px * var(--scaling-factor));
  background-color: var(--light-green), var(--black);
  transition: background-color 1s ease;
}

.matrix__board {
  position: relative;
  top: calc(21.5px * var(--scaling-factor));
  left: calc(-20px * var(--scaling-factor));
  display: flex;
  width: calc(240px * var(--scaling-factor));
}

.matrix__board--vertical {
  position: relative;
  left: calc(20.5px * var(--scaling-factor));
  display: flex;
  flex-direction: row;
  align-items: start;
}

.matrix__board--horizontal {
  position: relative;
  top: calc(19.5px * var(--scaling-factor));
  left: calc(-239.5px * var(--scaling-factor));
  display: flex;
  flex-direction: column;
  align-items: start;
}

.matrix__column {
  display: flex;
  flex-direction: column;
}

.matrix__row {
  display: flex;
  flex-direction: row;
}

.matrix__column-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: var(--item-height);
  margin-right: var(--margin-correction);
  margin-bottom: var(--margin-correction);
  outline: var(--outline-stroke);
  background-color: var(--white), var(--black);
}

.matrix__row-header {
  position: relative;
  top: calc(0.5px * var(--scaling-factor));
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(19px * var(--scaling-factor));
  height: var(--item-height);
  margin-right: var(--margin-correction);
  margin-bottom: var(--margin-correction);
  outline: var(--outline-stroke);
  background-color: rgb(220 241 213), var(--white);
}

.mobile .matrix__row-header {
  outline: var(--outline-stroke-mobile);
}

.matrix__column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #64f814;
}

.matrix__row-content {
  display: flex;
  align-items: center;
  background-color: #dbe4ee, var(--white);
}

.matrix__row-content--dragging {
  background-color: #b4f6ac;
}

.matrix__column-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: var(--item-height);
  margin-right: var(--margin-correction);
  margin-bottom: var(--margin-correction);
  outline: calc(var(--outline-stroke) * var(--scaling-factor)) solid
      var(--black),
    var(--white);
}

.matrix__row-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: var(--item-height);
  margin-right: var(--margin-correction);
  outline: calc(var(--outline-stroke) * var(--scaling-factor)) solid
      var(--black),
    var(--white);
}

.board__container {
  position: relative;
  top: calc(0.5px * var(--scaling-factor));
}

.board {
  position: relative;
  top: calc(0.5px * var(--scaling-factor));
  left: calc(0.5px * var(--scaling-factor));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--margin-correction);
  flex-wrap: nowrap;
  touch-action: pan-x;
  cursor: move;
}

.column {
  display: flex;
  flex-direction: column;
}

.column__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: var(--item-height);
  background-color: #00000000;
  opacity: 1;
}

.column__header:hover {
  background-color: var(--slate-light);
  outline: 0.5px solid var(--slate-light);
  opacity: 1;
}

.mobile .column__header {
  outline: var(--outline-stroke-mobile);
}

.column__header.dragging {
  background-color: var(--slate-light);
  opacity: 1;
}

.move-icon {
  color: var(--slate);
  width: 16px;
  height: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.column__header:hover .move-icon {
  opacity: 1;
  display: flex;
  justify-content: center;
}

.column__header.dragging .move-icon {
  opacity: 1;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  width: calc(var(--item-width) * var(--scaling-factor));
  height: calc(var(--item-height) * var(--scaling-factor));
}

.header.dragging {
  outline: calc(var(--outline-stroke) * var(--scaling-factor)) solid
    var(--black);
  outline-offset: calc(var(--outline-stroke-offset) * var(--scaling-factor));
  background-color: var(--white);
}

.card {
  position: relative;
  left: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: var(--item-height);
  margin-top: var(--margin-correction);
  margin-right: var(--margin-correction);
  outline: var(--outline-stroke);
  background-color: var(--white);
  color: light-dark(var(--black), var(--black));
}

.mobile .card {
  outline: var(--outline-stroke-mobile);
}

.card:active {
  cursor: grabbing;
}

.list {
  display: flex;
  align-items: center;
  justify-content: start;
  width: var(--item-width);
  height: 19px;
  margin-top: 1px;
  z-index: 99;
  margin-bottom: 2px;
  padding-left: calc(3px * var(--scaling-factor));
  color: #2a2a2a;
  outline: 1px solid light-dark(var(--black), var(--black));
  background-color: var(--apple-green);
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--item-width);
  height: 100%;
}

.item-container.mobile {
  margin-left: calc(0.25px * var(--scaling-factor));
}

.group-children {
  position: relative;
  display: flex;
  flex-direction: column;
}

.item-container.dragging .group-children {
  display: none;
}

.item-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: var(--item-width);
  padding-left: calc(5px * var(--scaling-factor));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grouped-item {
  width: var(--item-width);
  background-color: #6f8f63;
}

.grouped-item .card {
  width: var(--item-width);
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  background-color: var(--light-green);
}

td {
  text-align: left;
}

.layout-grid {
  margin-top: 0.5px;
  margin-left: -0px;
  display: grid;
  z-index: -10;
  grid-template-columns: repeat(19, 79px);
  grid-template-rows: repeat(500, 19px);
  gap: 1px;
  row-rule: 1px solid #00000012;
  column-rule: 1px solid #00000012;
  outline: 1px solid #100101e7;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
